.App{
  padding: 0;
  margin: auto;
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  /* position: relative; */
}

/* first section */

.first-vertical {
  /* text-align: center; */
  /* margin: 0; */
  /* padding: 0; */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width:100%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 8rem;
  padding-top: 3rem;
}

@font-face {
  font-family: 'AktivGrotesk-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/AktivGroteskCorp-Regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/AktivGroteskCorp-Regular.woff') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/AktivGroteskCorp-Regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/AktivGroteskCorp-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/AktivGroteskCorp-Regular.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AktivGrotesk-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/AktivGroteskCorp-Bold.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/AktivGroteskCorp-Bold.woff') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/AktivGroteskCorp-Bold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/AktivGroteskCorp-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/AktivGroteskCorp-Bold.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AktivGrotesk-Italic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/AktivGroteskCorp-Italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/AktivGroteskCorp-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/AktivGroteskCorp-Italic.woff') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/AktivGroteskCorp-Italic.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/AktivGroteskCorp-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/AktivGroteskCorp-Italic.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AktivGrotesk-MediumItalic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/AktivGroteskCorp-MediumItalic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/AktivGroteskCorp-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/AktivGroteskCorp-MediumItalic.woff') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/AktivGroteskCorp-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/AktivGroteskCorp-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/AktivGroteskCorp-MediumItalic.ttf') format('svg'); /* Legacy iOS */
}

.looking-for-a-lollip {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 3.125rem;
  /* font-weight: 700; */
  line-height: 3.625rem;
  width:30.563rem;
  text-align: left;

  /* position: relative;
  left: 13.75rem;
  top: 10.375rem;
  margin: 0;
  padding: 0; */
}

.body {
  color: #31373D;
  font-family: 'AktivGrotesk-Regular';
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 22px;
  width: 489px;
  text-align: left;

  /* position: relative;
  left: 220px;
  top: 304px;
  height: 89px; */
}

.bg {
  background-color: #0099FF;
  border-radius: 3px;
  border: 0px;
  width: 220px;
  height: 48px;
}

.cta-text {
  color: #FFFFFF;
  font-family: 'AktivGrotesk-Bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}

.outline {
  border: 2px solid #0099FF;
  border-radius: 3px;
  background-color: transparent;
  width: 222px;
  height: 48px;
}

.second-cta-text {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  width: 211px;
  text-align: center;
}

.first-half{
  float: left;
  /* left: -; */
}

.second-half{
  float: right;
  /* right: 0; */
  margin-left: 10rem;
}

/* second vertical */

.second-vertical{
  /* position: relative; */
  /* text-align: center; */

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  margin-bottom: 4rem;
}

.central-img{
  width:100%;
  height: auto;
}

.overlay-img {
  /* position: relative;  */
  /* top: -50%;  */
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.5); Black see-through */
  /* color: #f1f1f1;  */
  width: 50%;
  height: auto;
  /* transition: .5s ease; */
  /* opacity:0; */
  /* margin-top: -50%; */
  color: white;
  /* font-size: 20px; */
  /* padding: 20px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 113%;
  /* left: 50%; */
  margin: auto;
  /* transform: translate(-50%, -50%); */
}

.this-is-a-heading-in {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;

  position: absolute;
  top: 98%;
  margin: auto;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

/* third section */

.third-vertical{
  /* position: relative; */
  margin-top: 15rem;
  margin-top: 15rem;
}

.compare-pricing-toda {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 24px;
  /* font-weight: 700; */
  /* line-height: 34px; */
  text-align: center;

  margin-bottom: 8px;
  padding-bottom: 0;
}

.lorem-ipsum-is-simpl {
  color: #8B8E91;
  font-family: 'AktivGrotesk-Regular';
  font-size: 14px;
  /* font-weight: 400; */
  /* line-height: 24px; */
  /* width: 449px; */
  text-align: center;

  margin-top: 0;
  padding-top: 0;
  margin-bottom: '6%';
}

.btn-group{
  border-style: none;
}

.fourth-vertical{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.annual {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 16px;
  /* font-weight: 700; */
  /* line-height: 19px; */
  width: 72px;
  text-align: left;

  
  /* top:25px; */
}

.fifty-off {
  color: #8B8E91;
  font-family: 'AktivGrotesk-Regular';
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 22px;
  width: 60px;
  text-align: left;
  
  /* top:0; */
}

.monthly {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 19px;
  width: 83px;
  text-align: left;
}

.fifth-vertical{
  display: flex;
  flex-direction: row;

  /* overflow: auto; */
  /* width:75%; */
  margin-top: 2%;
  margin-bottom: 5%;
}

.lollipop {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 20px;
  /* font-weight: 700; */
  line-height: 28px;
  text-align: left;
}

.dolar-money{
  color: #3D3C31;
  font-family: 'AktivGrotesk-Bold';
  font-size: 30px;
  /* font-weight: 700; */
  line-height: 34px;
  text-align: left;
}

.per-span{
  color: #8B8E91;
  font-family: 'AktivGrotesk-Italic';
  font-size: 14px;
  font-style: italic;
  /* font-weight: 400; */
  line-height: 22px;
  width: 78px;
  text-align: left;
}

.for-serving{
  color: #31373D;
  font-family: 'AktivGrotesk-Regular';
  font-size: 16px;
  line-height: 22px;
  width: 156px;
  text-align: left;

  margin-top: 0;
}

.savings-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:198px;
}

.sixth-vertical{
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 24px;
  /* font-weight: 700; */
  line-height: 34px;
  text-align: center;

  width:75%;
  margin-top: 5%;
}

.seventh-vertical{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width:75%;
  margin-top: 5%;
  margin-bottom: 5%;
  width:75%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.first-half-2{
  float: left;
  padding-left: 9%;
}

.second-half-2{
  float: right;
  padding-right: 9%;
  margin-left: 2rem;
}

.qoute-txt{
  color: #8B8E91;
  font-family: 'AktivGrotesk-MediumItalic';
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 22px;
  width: 366px;
  text-align: left;

  margin-left: 1.7rem;
}

.raja-ram {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 20px;
  /* font-weight: 700; */
  line-height: 34px;
  text-align: left;

  margin-bottom: 0;
  margin-left: 1.7rem;
}

.tip-world {
  color: #31373D;
  font-family: 'AktivGrotesk-Regular';
  font-size: 20px;
  /* font-weight: 400; */
  line-height: 34px;
  text-align: left;

  margin-top: 0;
  margin-left: 1.7rem;
}

.eighth-vertical{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width:75%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.loved-by-users-reco-copy-2 {
  color: #31373D;
  font-family: 'AktivGrotesk-Bold';
  font-size: 30px;
  /* font-weight: 700; */
  line-height: 34px;
  text-align: left;
}

.lorem-ipsum-is-simpl-2 {
  color: #8B8E91;
  font-family:'AktivGrotesk-Regular';
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 22px;
  width: 387px;
  text-align: left;
  
}